@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Zilla+Slab:wght@400;500;600;700&display=swap');

body {
    background: #121212;
    color: #f8f9fa;
}

h1,
h2,
h3 {
    text-align: center;
    font-family: 'Zilla Slab', serif;
    font-weight: 700;
}

p,
a {
    font-family: 'Poppins', sans-serif;
}

p {
    background: #212529;
    padding: 2rem;
    margin: 0 1rem;
    border-radius: 0.5rem;
}
