@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons+Round');

html,
body {
    padding: 0;
    margin: 0;
    width: 100%;
}

body {
    box-sizing: border-box;
    background-color: #000000;
    color: #f8f9fa;
    text-decoration: none;
    line-height: 1.25rem;
}

.top-app-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 6rem;
    height: 3rem;
    background-color: #212529;
    border: none;
    border-radius: 0 0 16px 0;
}

.top-app-bar-row {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.top-app-bar-row__icon-button {
    background-color: #212529;
    outline-style: none;
    border: none;
}

.material-icons-round {
    color: #f8f9fa;
}

.head {
    max-width: 47rem;
    margin: 4rem auto 0;
    display: block;
}

.head-logo {
    margin: 1rem auto;
    max-width: 60%;
}

.head-logo-label {
    font-family: 'Press Start 2P', cursive;
    color: #f59f00;
}

@supports (display: flex) {
    .head-logo {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .head-logo-image {
        display: block;
        width: 4rem;
    }

    .head-logo-label {
        font-size: 2rem;
        padding-left: 8px;
    }

    @media (min-width: 48rem) {
        .head-logo {
            margin: 4rem auto;
            max-width: 80%;
        }

        .head-logo-image {
            display: block;
            width: 8rem;
        }

        .head-logo-label {
            font-size: 4rem;
            padding-left: 24px;
        }
    }
}
